*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --backgroundColor : rgb(238, 238, 238);
    --textColor : rgb(44, 62, 80);
    --borderInputColor : rgba(44, 62, 80, 0.2);
    --warningColor: rgb(219, 92, 92);
    --borderCardColor: rgba(255,255,255, 0.2);
    --upperShadowColor: rgba(255,255,255, 0.83);
    --bottomShadowColor: rgba(209, 205, 199, 0.51);
    --green: #42b983;
    --transitionDuration: 0.4s
}

html{
    height: 100%;
}

body{
    background-color: var(--backgroundColor);
    min-height: 100%;
    transition: color var(--transitionDuration);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--textColor);
    margin: 40px;
  }
  
  #nav {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
  
    a {
      font-weight: bold;
      color: var(--textColor);
      text-decoration: none;
      text-transform: uppercase;
      transition: color var(--transitionDuration);
      &.router-link-exact-active {
        color: var(--green);
      }

    }
  }

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
}

.input{
    background: transparent;
    border: 1px solid var(--borderInputColor);
    padding: 10px 18px;
    border-radius: 40px;
    font-size: 1.3em;
    outline: none;
    color: var(--textColor);
    text-align: center;
    transition: all var(--transitionDuration);
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 100px auto;

}
.card{
    text-align: left;
    width: 420px;
    max-width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 12px;
    border: 1px solid var(--borderCardColor);
    box-shadow: 6px 6px 16px 0 var(--bottomShadowColor), -6px -6px 26px 0 var(--upperShadowColor);
    .mainInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            margin: 0;
        }
        .temp{
            font-weight: 700;
            font-size: 2em;
            padding-right: 30px;
        }
    }
    .logo{
        position: absolute;
        right: -12%;
        top: -40px;
    }
    .description{
        margin: 4px 0;
    }
}

.errorMsg{
    color: var(--warningColor);
    font-size: 1.4em;
    font-weight: 700;
}

.searchButton{
    background-color: var(--green);
    color: #fff;
    border: 1px solid var(--borderInputColor);
    border-left-width: 0;
    border-radius: 0 40px 40px 0;
    padding: 9.25px 18px 9.25px 12px;
    transition: all var(--transitionDuration);
    &:hover{
        background-color: #93e0bc;
    }
}

.about{
    max-width: 800px;
    margin: 60px auto 0 auto;
    text-align: center;
    padding: 0 30px ;
    .title{
        color: var(--green)
    }
}

.switchRadio{
    text-align: right;
    margin-right: 20px;
}

.radio-switch{
    display: inline-flex;
    list-style: none;
    padding: 2px;
    border-radius: 50em;
    border: 1px solid var(--borderInputColor);
    transition: border var(--transitionDuration);
}

.radio-switch__input{
    display: none;
    transition: color var(--transitionDuration);
    &:checked ~ .radio-switch__marker {
        transform: translateX(100%);
    }
    &:checked ~ .radio-switch__label {
        color: var(--backgroundColor)
    }
}

.radio-switch__item{
    position: relative;
    width: 36px;
    padding: 4px;
}

.radio-switch__label{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--textColor);
    // line-height: 1.8em;
    padding: 2px;
    cursor: pointer;
    transition: color 0.4s;
}

.radio-switch__marker{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--textColor);
    border-radius: 50em;
    transition: all 0.4s;

}

.links{
    color: var(--textColor);
    &:hover{
        color: var(--green)
    }
    &:visited{
        color: var(--textColor)
    }
}

.hourlyData--list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    .hourlyData--item{
        text-align: center;
        width: 20%;
    }
    .hourlyData--item + .hourlyData--item{
        border-left: 1px solid;
    }
    .item--data{
        margin: 4px;
        text-align: center;
    }
}

.extraInfo{
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

.extendForecast{
    background-color: transparent;
    border: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1.2em;
    outline: none;
}

// TRANSITIONS
.slideY-fade-enter-active, .slideY-fade-leave-active{
    transition: all .5s ease-out;
  }
  
.slideY-fade-enter,.slideY-fade-leave-to{
    transform: translateY(-10px);
      opacity: 0;
    }

.slideX-fade-enter-active, .slideX-fade-leave-active{
        transition: all .5s ease-out;
      }
      
.slideX-fade-enter,.slideX-fade-leave-to{
        transform: translateX(-10px);
          opacity: 0;
        }